<a href="https://colab.research.google.com/github/Diyaash/CS-PRACTICAL-EXAM/blob/main/Python%20Basics%20DSAI%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PRINT COMMANDS

In [1]:
print("Hello World!")

Hello World!

In [6]:
print("Hello")
print(9 * "\n")
print("World!")

Hello










World!

In [7]:
print("Jan\nFeb\nMar\nApr\nMay")

Jan
Feb
Mar
Apr
May

In [9]:
print("""
Routine:
\t-EAT
\t-SLEEP
\t-WORK
\n
.
REPEAT""") #three quotes are used for multiple lines without repeated print command or \n

Routine:
	-EAT
	-SLEEP
	-WORK


.
REPEAT

In [20]:
print("Python " , end = '#\n')
print("134" , end = '%') #end command is used for printing something at the end of the code

Python #
134%

In [21]:
print("_D" * 10) #multiplying a certain text or string certain times

_D_D_D_D_D_D_D_D_D_D

In [23]:
x = 5
print("Diya\t" * x) #defining a variable value

Diya	Diya	Diya	Diya	Diya

IDENTIFIERS

In [29]:
this_is_an_operation_1 = 5 + 6

In [26]:
this_is_an_operation = '5 + 6'

In [27]:
type(this_is_an_operation)

str

In [30]:
type(this_is_an_operation_1)

int

In [31]:
555 + 999 #direct operations without print commands

1554

In [39]:
abc = 789 / 987
print(abc) #to solve or directly write abc to execute
type(abc) #float is decimal point

0.7993920972644377

float

***LOOOPS - FOR, IF ELSE, ELIF, NESTED***

In [40]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [45]:
dd = 5  #specifying a variable and operations
dd = dd * 55
if dd > 100:
  print(dd)
  print("dd is greater than 100")
else:
  print(dd)
  print("dd is less than 100")

275
dd is greater than 100

In [53]:
for i in range(7,99, 5): #10 is the steps- ie the skips in bw outputs in a range
  print(i)
  if i > 80:
    print("MUCH")
  else:
    print("NOO")

7
NOO
12
NOO
17
NOO
22
NOO
27
NOO
32
NOO
37
NOO
42
NOO
47
NOO
52
NOO
57
NOO
62
NOO
67
NOO
72
NOO
77
NOO
82
MUCH
87
MUCH
92
MUCH
97
MUCH

IF ELIF ELSE

In [52]:
for i in range(1,20):
    print(i)
    if i < 10:              #first condition
      print("1 to 10!")
    elif 10 <= i < 15:      #another additionl condition
      print("10 to 15!")
    else:                   #if both conditions fail
      print("More than 15!")

1
1 to 10!
2
1 to 10!
3
1 to 10!
4
1 to 10!
5
1 to 10!
6
1 to 10!
7
1 to 10!
8
1 to 10!
9
1 to 10!
10
10 to 15!
11
10 to 15!
12
10 to 15!
13
10 to 15!
14
10 to 15!
15
More than 15!
16
More than 15!
17
More than 15!
18
More than 15!
19
More than 15!

In [54]:
for i in range(1,11):
    print(i)
    if i == 5:
      print("My iterator is 5 !!") #if without else

1
2
3
4
5
My iterator is 5 !!
6
7
8
9
10

In [57]:
"""uiuiui"""

'uiuiui'

In [66]:
def funcc(num):
   return(num * 3)

In [68]:
a = b = c  = "Rahul"

In [69]:
c

'Rahul'

In [70]:
b

'Rahul'

In [74]:
a , b , c = 50 , "Delhi" , "Diya" #the variables would be defined in the same manner and sequence i.e a is 50 and b is delhi

In [72]:
b

'Delhi'

In [73]:
c

'Diya'

**CONSTANTS** - remain the same throughout

In [75]:
#Type conversion eg int to float or string
x = 7.90
type(x)

float

In [79]:
y = int(x) #converting into the integer value of 7.90
y
z = int(x)
z

7

In [80]:
#BOOLEAN LITERALS. #REMEMBER  True == 1   False == 0

x = (1 == True)
y = (1 == False)
a = True + 6
b = False + 90

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 7
b: 90

In [82]:
fruits1 = ("Banana", "Apple", "Strawberry")             # tuple ()
fruits2 = ["Banana", "Apple", "Strawberry"]             # list []
fruits3 = {"Banana", "Apple", "Strawberry"}             # set {}
fruits4 = {"1":"Banana", "2":"Apple", "3":"Strawberry"} # dictionary {"Key":"Value"}

print(fruits1)
print(fruits2)
print(fruits3)
print(fruits4)

('Banana', 'Apple', 'Strawberry')
['Banana', 'Apple', 'Strawberry']
{'Strawberry', 'Apple', 'Banana'}
{'1': 'Banana', '2': 'Apple', '3': 'Strawberry'}

In [83]:
a = [22, 463, 778, 215, 268, 2]
a

[22, 463, 778, 215, 268, 2]

In [85]:
a = set(a) #type conversion
a

{2, 22, 215, 268, 463, 778}

In [87]:
a = list(a) #type conversion
a

[2, 22, 215, 778, 268, 463]

In [90]:
a = a[2] #defining a set value
a

215

**DICTIONARY**

In [93]:
d = {1: 'Apple', 2: 'Cat', 3: 'Food'}  # 'Apple' is element and 1 is the key of element.
print(d)

d[3]

{1: 'Apple', 2: 'Cat', 3: 'Food'}

'Food'

In [94]:
type(d)

dict